aside
    nav.left-nav-wrapper
        ul.d-flex.flex-column.list-unstyled
            li.left-nav#menu
                a(href="javascript:;").left-nav-item: i.icon-menu

        ul.d-flex.flex-column.flex-grow-1.list-unstyled
            li#editButton.left-nav
                a(href="#").left-nav-item(onclick="setEditMode()")
                    i.icon-edit.fa-border-style
                    span.left-nav-text Toggle Edit Mode

            li.left-nav-seperator
            li.left-nav
                a(href="#").left-nav-item(onclick="makeInput()")
                    i.fas.fa-border-style
                    span.left-nav-text(draggable="true")
                        input.form-control(placeholder="Add Input", disabled)

            li.left-nav
                a(href="#").left-nav-item(onclick="makeButton()")
                    i.icon-card-view
                    span.left-nav-text
                        button.btn.btn-primary.moveElm(draggable="true") Add Button
        
            li.left-nav
                a(href="#").left-nav-item(onclick="makeText()")
                    i.fas.fa-font
                    span.left-nav-text(draggable="true" ondragstart="drag(event)") Add Text
            li.left-nav-seperator
            li.left-nav
                a(href="#").left-nav-item(onclick="clearLast()")
                    i.icon-caret-left
            li.left-nav
                a(href="#").left-nav-item(onclick="clearCanvas()")
                    i.icon-trash
            li.left-nav-seperator
            li.left-nav
                a(href="http://localhost:3000/forms/new" target="blank").left-nav-item
                    i.icon-open-new-window
        //
        //    li.left-nav
        //        a(href="#").left-nav-item
        //            i.icon-media
        //            span.left-nav-text Media
        //
        //    li.left-nav
        //        a(href="#").left-nav-item
        //            i.icon-reports
        //            span.left-nav-text Reports
        //
        //
        //ul.d-flex.flex-column.list-unstyled
        //
        //    li.left-nav
        //        a.left-nav-item(href='#')
        //            i.icon-support
        //            span.left-nav-text
        //                | Support ( Zendesk
        //                i.icon-export.ml-2.mr-1
        //                |  )
        //
        //    li.left-nav
        //        a(href="#").left-nav-item
        //            i.icon-user
        //            span.left-nav-text John Username
        //
        //    li.left-nav
        //        a(href="#").left-nav-item
        //            i.icon-settings
        //            span.left-nav-text Settings
        //
        //
